<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Cat API</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="container">
        <div class="left-section">
            <h1>
                <span class="title-highlight">The Cat API</span><br>
                Cats as a service.
            </h1>
            <div class="subtitle">Because everyday is a Caturday.</div>
            <p class="description">An API all about cat.</p>
            <p class="stats">60k+ Images. Breeds. Facts.</p>
            <div class="buttons">
                <button class="btn btn-primary">GET YOUR API KEY</button>
                <button class="btn btn-secondary">READ OUR GUIDES</button>
            </div>
        </div>
        <div class="right-section">
            <div class="nav-tabs">
                <a href="/cat/image">
                <div class="nav-item active">
                        <i class="fa-solid fa-up-down"></i>
                        <span>Voting</span>
                    </div>
                </a>
                <a href="/breeds">
                    <div class="nav-item">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <span>Breeds</span>
                    </div>
                </a>
                <a href="/cat/image">
                    <div class="nav-item">
                        <i class="fa-regular fa-heart"></i>
                        <span>Favs</span>
                    </div>
                </a>
            </div>
            <img src="https://cdn2.thecatapi.com/images/MTkzMzUzNg.jpg" alt="Random Cat" class="cat-image" id="cat-image">
            <!-- loader -->
            <div id="loader" style="display: none;">
                <div class="loader">
                    <div class="track">
                      <div class="mouse"></div>
                    </div>
                    <div class="face">
                      <div class="ears-container"></div>
                      <div class="eyes-container">
                        <div class="eye"></div>
                        <div class="eye"></div>
                      </div>
                      <div class="phiz">
                        <div class="nose"></div>
                        <div class="lip"></div>
                        <div class="mouth"></div>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="interaction-buttons">
                <i class="fa-regular fa-heart" onclick="favoriteCat()"></i>
                <div class="fa-regular-btn">
                    <i class="fa-regular fa-thumbs-up" id="fa-thumbs-up"></i>
                    <i class="fa-regular fa-thumbs-down"></i>
                </div>
            </div>
        </div>
    </div>

    <script src="/static/js/main.js">
    </script>
</body>
</html>